body {
  background: #0a0a0a;
  font-family: 'Courier New', monospace;
  color: #ff00ff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.caja {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  max-width: 90%;
  font-size: 1.2em;
}

.neon-azul {
  border: 2px solid #00ffff;
  box-shadow: 0 0 20px #00ffff;
}

.neon-rosa {
  border: 2px solid #ff00ff;
  box-shadow: 0 0 20px #ff00ff;
  color: #ffccff;
}

.corazon {
  font-size: 50px;
  animation: latido 1s infinite;
}

@keyframes latido {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

#contador {
  color: yellow;
  font-weight: bold;
  margin: 10px 0;
}

.neon-cian {
  border: 2px solid #00ffff;
  box-shadow: 0 0 20px #00ffff;
}

.imagen-romantica {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 15px #fff;
  animation: aparecer 2s ease-in-out;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

